/* Pricing.css */

.wrapper {
  width: 100%;
  padding: 50px 0;
}

.headerInfo {
  margin-bottom: 50px;
  text-align: center;
}

.tablesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.tableBox {
  width: 31%;
  margin-right: 1%; /* Add margin between table boxes */
}

@media (max-width: 860px) {
  .tablesWrapper {
    flex-direction: column;
  }

  .tableBox {
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    margin-bottom: 30px; /* Add margin for spacing between table boxes */
  }
}
